[Unit]
Description=xenos-control-defaults.sh
DefaultDependencies=no
Conflicts=shutdown.target
After=systemd-modules-load.service
Before=systemd-sysctl.service systemd-user-sessions.service dbus.service NetworkManager.service wpa_supplicant.service
Before=multi-user.target network-pre.target network.target network-online.target graphical.target shutdown.target

[Service]
Type=oneshot
ExecStart=/usr/bin/xenos-control-defaults.sh

CapabilityBoundingSet=
DevicePolicy=closed
LockPersonality=yes
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
PrivateDevices=yes
PrivateMounts=yes
PrivateNetwork=yes
PrivateTmp=yes
PrivateUsers=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectHome=yes
ProtectHostname=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectKernelLogs=yes
#ProtectSystem=strict
RestrictAddressFamilies=AF_UNIX
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallErrorNumber=EPERM
IPAddressDeny=any
UMask=0077

[Install]
WantedBy=sysinit.target
