[Unit]
Description=Entropy Daemon based on the HAVEGE algorithm
Documentation=man:haveged(8) http://www.issihosts.com/haveged/
DefaultDependencies=no
After=systemd-tmpfiles-setup-dev.service
Before=sysinit.target shutdown.target systemd-journald.service

[Service]
ExecStart=/usr/bin/haveged -w 1024 -v 1 --Foreground
Restart=always
SuccessExitStatus=137 143

SecureBits=noroot-locked

CapabilityBoundingSet=CAP_SYS_ADMIN
DevicePolicy=closed
LockPersonality=yes
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
PrivateDevices=yes
PrivateMounts=yes
PrivateNetwork=yes
#PrivateTmp=yes
#PrivateUsers=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectHome=yes
ProtectHostname=yes
ProtectKernelModules=yes
#ProtectKernelTunables=yes
ProtectKernelLogs=yes
ProtectProc=invisible
#ProcSubset=pid
ProtectSystem=full
RestrictAddressFamilies=AF_UNIX
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallFilter=~@mount
SystemCallErrorNumber=EPERM
IPAddressDeny=any
UMask=0077

[Install]
WantedBy=sysinit.target
