[Unit]
Description=Hardware RNG Entropy Gatherer Daemon
DefaultDependencies=no
Before=sysinit.target shutdown.target

[Service]
EnvironmentFile=/etc/conf.d/rngd
ExecStart=/usr/bin/rngd -f $RNGD_OPTS

StandardInput=null
StandardOutput=null
StandardError=null

CapabilityBoundingSet=CAP_SYS_ADMIN
DevicePolicy=closed
KeyringMode=private
LockPersonality=yes
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
PrivateDevices=yes
PrivateIPC=yes
PrivateMounts=yes
PrivateNetwork=yes
PrivateTmp=yes
#PrivateUsers=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectHome=yes
ProtectHostname=yes
ProtectKernelModules=yes
#ProtectKernelTunables=yes
ProtectKernelLogs=yes
ProtectProc=invisible
#ProcSubset=pid
ProtectSystem=full
RestrictAddressFamilies=AF_UNIX
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallErrorNumber=EPERM
IPAddressDeny=any
UMask=0077

[Install]
WantedBy=sysinit.target
