[Unit]
Description=Daemon for power management
Documentation=man:upowerd(8)

[Service]
Type=dbus
BusName=org.freedesktop.UPower
ExecStart=/usr/lib/upowerd
Restart=on-failure

LimitMEMLOCK=0
ReadWritePaths=/var/lib/upower
StateDirectory=upower

CapabilityBoundingSet=
#DevicePolicy=strict
LockPersonality=yes
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
#PrivateDevices=yes
PrivateMounts=yes
#PrivateNetwork=yes
PrivateTmp=yes
PrivateUsers=yes
#ProtectClock=yes
ProtectControlGroups=yes
ProtectHome=yes
#ProtectHostname=yes
ProtectKernelModules=yes
#ProtectKernelTunables=yes
ProtectKernelLogs=yes
ProtectSystem=strict
RestrictAddressFamilies=AF_UNIX AF_NETLINK
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallFilter=ioprio_get
SystemCallErrorNumber=EPERM
IPAddressDeny=any

[Install]
WantedBy=graphical.target
